:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    max-block-size: 50px;
    color: white;
    background-color: #303030;
    border: 2px solid #4f4f4f;
    border-radius: 10px;
    cursor: pointer;
    transition: linear 0.2s;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    vertical-align: center;

    &:hover:not([disabled]) {
        background-color: #5b5b5b;
    }

    &[disabled] {
        cursor: default;
        background-color: #555;
        color: #999;
    }

    &.small {
        font-size: 15px;
        font-weight: 400;
        max-width: fit-content;
    }
}

.mt {
    margin-top: 20px;
}

.mt-s {
    margin-top: 10px;
}

.mr {
    margin-right: 20px;
}

.mr-s {
    margin-right: 10px;
}

.fc {
    align-self: center;
}

select {
    background-color: #303030;
    color: white;
    border: 2px solid #4f4f4f;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.button-row {
    display: flex;
    justify-content: center;
}
