.day {
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    min-width: 10vw;
    height: 10vh;
    vertical-align: text-top;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;

    &:hover {
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 5px black;
    }

    &.today {
        background-color: rgb(73, 119, 71);
    }
}

.calendar {
    border-spacing: 10px;
}

.calendar-container {
    display: flex;
    justify-content: center;
}
